Package: zyphor-cli
Version: 3.0.0-r4-alpha
Section: utils
Priority: optional
Architecture: all
Depends: bash, curl, jq
Maintainer: Mark Jason Espelita <markjasonespelita@gmail.com>
Description: Zyphor OS CLI abstraction layer
