Package: zyphor-desktop-environment
Version: 3.0.0-r12-alpha
Section: admin
Priority: optional
Architecture: all
Maintainer: Mark Jason Espelita <markjasonespelita@gmail.com>
Description: Zyphor OS Desktop Environment Theme
