Package: zyphor-cli
Version: 2.0.0-r3-alpha
Section: utils
Priority: optional
Architecture: all
Depends: bash, curl, jq
Maintainer: Mark Jason Espelita <markjasonespelita@gmail.com>
Description: Zyphor OS CLI abstraction layer
