Package: zyphor-os-release
Version: 2.0.1-r6-alpha
Section: base
Priority: required
Architecture: all
Maintainer: Mark Jason Espelita
Description: Zyphor OS release information
 Provides operating system identification and release metadata
 for Zyphor OS.
